:root {
    /* Primary colors */
    --clr-very-dark-blue-main-bg: hsl(233, 47%, 7%);
    --clr-dark-desaturated-blue-card-bg: hsl(244, 38%, 16%);
    --clr-soft-violet: hsl(277, 64%, 61%);

    /* Neutral colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
    --clr-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

    /* Default font size */
    --default-fs: 0.9375rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: "Inter", sans-serif;
    background-color: var(--clr-very-dark-blue-main-bg);
    font-size: var(--default-fs);
}

.card {
    max-width: 960px;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--clr-dark-desaturated-blue-card-bg);
    border-radius: 10px;
}

.card > * {
    flex-basis: 100%;
}

.hero {
    position: relative;
}

.hero__img {
    max-width: 100%;
    min-height: 100%;
    display: block;
    border-radius: 0 10px 10px 0;
}

.hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    border-radius: 0 10px 10px 0;
    background-color: var(--clr-soft-violet);
    mix-blend-mode: multiply;
}

.info {
    padding: 3em 3em 2.5em 3em;
}

.info__title {
    font-size: 2rem;
    color: var(--clr-white);
}
.info__title-highlighted {
    color: var(--clr-soft-violet);
}

.info__text {
    line-height: 1.6;
    color: var(--clr-transparent-white-paragraph);
    padding-top: 1.5em;
}

.stats {
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    width: 91%;
    margin: 2.5em 0;
}

.stats__data h2 {
    color: var(--clr-white);
    font-size: 1.5rem;
    line-height: 1.6;
}

.stats__data p {
    color: var(--clr-transparent-white-paragraph);
    font-family: "Lexend Deca", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75rem;
}

@media (max-width: 1000px) {
    .card {
        max-width: 600px;
        flex-direction: column;
    }

    .hero__img {
        content: url("../images/image-header-mobile.jpg");
        border-radius: 10px 10px 0 0;
    }

    .hero__overlay {
        border-radius: 10px 10px 0 0;
    }

    .info {
        text-align: center;
    }

    .info__title {
        font-size: 2.8rem;
    }

    .stats {
        width: 100%;
        margin-top: 0;
        justify-content: space-around;
    }
}

@media (max-width: 700px) {
    .card {
        max-width: 330px;
        margin: 1.25em 0;
    }

    .info {
        padding: 3em 1.5em 0 1.5em;
    }

    .info__title {
        font-size: 1.7rem;
    }

    .stats {
        margin-top: 2.5em;
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }
}
